<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guess the word</title>
</head>
<body>

<h1 align="center" >Guess the word</h1>
<h2 align="center" th:text="${word}">Hello world!</h2>
<hr>
<div align="center">
    <form action="homepage" method="get">
        <label>Guess the character</label>
        <input type="text" name="inputCharacter">
        <button type="submit">Try</button>
    </form>
    <h1 align="center" th:text="${result}"></h1>
</div>



</body>
</html>